.App {
  text-align: center;
}

.courses-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width:1080px) {
  .courses-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:980px) {
  .courses-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:400px) {
  .courses-container{
    grid-template-columns: 1fr;
    /* justify-items: center; */
  }
}